*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    background-color: hsl(206, 33%, 96%);
    color: #222;
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 71px;
   font-size: 1.5rem;
}

#title{
    color: #49a6e9;
   
}

a{
    color: #222;
    text-decoration:solid;
}

a:link{
    color: #222;
}


a:hover{
    color: rgb(192, 186, 186);
}

a:active{
    color: #49a6e9;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#changeColorContainer{
    width: 50%;
    height: 8%;
    background-color: #222;
    color: #fff;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#changeColor{
    color: #49a6e9;
}

button{
    margin-top: 5ch;
    width: 15ch;
    height: 4ch;
    border-radius: 6px;
    font-size:16px ;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: #222;
    color: #fff;
}