*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    position: absolute;
    padding: 2ch 0;
    background-color: #fff;
    color: #222;
    margin: 0 3ch;
    display: flex;
    justify-content: space-between;
     width: 100%;
}

#colorFlip{
    color: #49a6e9;
}

a:hover{
color: #49a6e9;
}

a{
    text-decoration: none;
    color: #173246;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    height: 1000px;
    
   
}


button{
    border: 2px solid #222;
    border-radius: 9px;
    width: 142.7px;
    height: 47px;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover{
    background-color: #222;
    color:#fff;
    font-weight: 700;
}

