*{
    box-sizing: content-box;
    padding:0 ;
margin: 0;
}

body{
    background-color: hsl(206, 33%, 96%);
    color: #222;
}

header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height:80px ;

}

h1 {
    color: #49A6E9;
}

a{
    text-decoration: none;
    color: #102a42;
}

a:hover{
    color: #49A6E9;
}

main{
    position: relative;
    top: 10ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20ch 0;
    height:100% ;
}

.colorContainer{
    background-color: #222;
    color: #fff;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;

    font-size: 2rem;
}

#changingColor{
    color: #49A6E9;
}

button{
    width: 147px;
    height: 47px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    
    margin-top: 6ch;
}

button:hover{
    background-color: #222;
    color: #fff;
}