*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    background-color: hsl(206, 33%, 96%);
    color: #222;
}

/*header*/
header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
   
}

.title{
    color: hsl(205, 89%, 70%);
    font-weight: 600;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    margin: 0 1ch;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

a:hover{
    color: hsl(205, 89%, 70%);
}

/*main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 35vh 0;
}

.colorChange{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #222;
    color: #fff;
    width: 55%;
    height: 13vh;
    border-radius: 9px;
    letter-spacing: 0.13ch;
}

.colorName{
    color: hsl(205, 89%, 70%);
    padding-left: 1ch;
}

button{
    cursor: pointer;
    font-size: large;
    height: 4ch;
    width: 13ch;
    margin-top: 3ch;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.13ch;
}

button:hover{
    background-color: #222;
    color: #fff;
    transition-duration: 0.5s;
    
}
